.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.modalContentBody {
    padding: 50px 70px;
    background: white;
    color: black;
    height: max-content;
    width: max-content;
    border-radius: 10px;
}

.container,
.modalContentBody {
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}