.container {
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.black {
    background: black;
    color: white;

    &:hover {
        background: #4b4a4a;
    }
}

.white {
    background: white;
    color: black;

    &:hover {
        background: #dedede;
    }
}