.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    
    svg {
        width: 100px;
    }

    svg path, svg circle {
        stroke: #000;
        stroke-width: 0.25;
        stroke-linecap: round;
        fill: none;
    }
    
    p {
        text-align: center;
    }
}

.instructionsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 50px;
    width: 500px;
    border-radius: 10px;
    background: white;
}