.letterContainer {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    content-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.displayLetter {
        content-visibility: visible;
    }
}

.disabled {
    border-color: #a6a5a5;
    color: #a6a5a5;
    cursor: not-allowed;
}