@import '../styles/mixins';

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;

    display: grid;
    grid-gap: 20px;
    grid-template-areas:
            "hangman-display playground"
            "spacer action-container";

    @include under-pixels(600px) {
        grid-template-areas:
            "hangman-display"
            "playground"
            "action-container";
    }
}


.hangmanDisplayContainer,
.playgroundContainer,
{
    display: flex;
    flex-direction: column;
}

.hangmanDisplayContainer {
    justify-content: flex-start;
    grid-area: hangman-display;
    align-items: center;
    
    @include under-pixels(600px) {
        justify-content: center;
    }
}

.playgroundContainer {
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: playground;
    gap: 20px;

    @include under-pixels(600px) {
        align-items: center;
    }
}

.actionContainer {
    display: flex;
    flex-direction: row;
    grid-area: action-container;
    justify-content: flex-start;
    gap: 30px;

    @include under-pixels(600px) {
        justify-content: center;
    }
}