.container {

    svg {
        width: 200px;
    }

    svg path, svg circle {
        stroke: #000;
        stroke-width: 0.25;
        stroke-linecap: round;
        fill: none;
    }
}

.clearGame {
    svg {
        circle:nth-child(5),
        path:nth-child(6),
        path:nth-child(7),
        path:nth-child(8),
        path:nth-child(9),
        path:nth-child(10) {
            display: none;
        }
    }
}

.firstWrongAnswer {
    svg {
        path:nth-child(6),
        path:nth-child(7),
        path:nth-child(8),
        path:nth-child(9),
        path:nth-child(10) {
            display: none;
        }
    }
}


.secondWrongAnswer {
    svg {
        path:nth-child(7),
        path:nth-child(8),
        path:nth-child(9),
        path:nth-child(10) {
            display: none;
        }
    }
}

.thirdWrongAnswer {
    svg {
        path:nth-child(8),
        path:nth-child(9),
        path:nth-child(10) {
            display: none;
        }
    }
}

.fourthWrongAnswer {
    svg {
        path:nth-child(9),
        path:nth-child(10) {
            display: none;
        }
    }
}

.fifthWrongAnswer {
    svg {
        path:nth-child(10) {
            display: none;
        }
    }
}
